<header>
  <nav>
    <ul class="nav-links">
      <li><a href="/admin/post" class="nav-link" id="link-blog">Blog Admin</a></li>
      <ul><a href="#" class="nav-link selected" id="link-post">Post</a></ul>
      <ul><a href="#" class="nav-link" id="link-user">User</a></ul>
    </ul>
  </nav>
</header>